/*** Global ***/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
.wrapper{
	margin: 0 auto;
	width: 960px; 
}

/*** Header ***/
header{
	color: #000;
	font-size: 12px;
	height: 60px;
	line-height: 50px;
}
header a{
	color: #000;
	text-decoration: none;
}
header a:hover{
	text-decoration: underline;
}

/*** Main ***/
table{
	border-collapse: collapse;
	border: 1px solid #000;
	margin: 20px 0;
	width: 50%;
}
table td, table th{
	border: 1px solid #000;
	padding: 10px;
	text-align: center;
}

/*** Footer ***/
footer{
	height: 60px;
}

.pm-action-bar{
	padding: 10px 20px 30px 0;
	text-align: right;
}
.pm-ctn{
	background-color: #E9E9E9;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 10px 5px 40px 5px;
	position: relative;
}

/*** Form ***/
.pm-form-ctn {
	background: #eeeeee;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eeeeee 0%, #fafafa 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #fafafa));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%, #fafafa 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%, #fafafa 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%, #fafafa 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%, #fafafa 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#fafafa',GradientType=0 );
	/* IE6-8 */
	border: 2px solid #DDD;
	border-radius: 10px;
	color: #333;
	clear: both;
	padding: 20px 50px;
	margin: 0 auto;
	width: 96%;
}
.pm-form-ctn label {
	display: block;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	padding: 0 0 5px 0;
	text-transform: uppercase;
}
.pm-form-ctn input[type="text"]{
	font-size: 14px;
	height: 28px;
	line-height: 28px;
}
.pm-form-ctn textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 300px;
	line-height: 21px;
}
.pm-form-ctn input[type="text"], .pm-form-ctn textarea{
	background: white;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, white 0%, #f9f9f9 48%, #fafafa 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(48%, #f9f9f9), color-stop(100%, #fafafa));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, white 0%, #f9f9f9 48%, #fafafa 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%, #f9f9f9 48%, #fafafa 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%, #f9f9f9 48%, #fafafa 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, white 0%, #f9f9f9 48%, #fafafa 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
	/* IE6-8 */
	border: 1px solid #999;
	display: block;
	margin: 0 0 40px 0;
	padding: 5px;
	width: 100%;
}
.pm-form-ctn p{
	font-size: 12px;
	font-style: italic;
	margin: 0 0 10px 0;
}
.pm-form-ctn .pm-form-info-header{
	display: block;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	padding: 0 0 5px 0;
	text-transform: uppercase;
}
.pm-form-ctn .pm-form-info-add{
	display: table-cell;
	float: right;
	margin: -3px 0 0 0;
}
.pm-form-ctn .pm-form-info-add a{
	color: #000;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	line-height: 34px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
}
.pm-form-ctn .pm-form-info-add a:hover{
	text-decoration: underline;
}
.pm-form-ctn .pm-form-info-add img{
	height: 30px;
	margin: 0 0 0 5px;
	width: 30px;
}
.pm-form-ctn .pm-upload{
	display: table;
	padding: 20px 0;
	width: 100%;
}
.pm-form-ctn .pm-upload div{
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}
.pm-form-ctn .pm-upload input{
	margin: 10px 0 0 0;
}
.pm-form-ctn .pm-upload .pm-current-img{
	padding: 0 40px 0 0;
	text-align: right;
}
.pm-form-ctn .pm-upload .pm-current-img img{
	border: 1px solid #000;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
	max-height: 300px;
	max-width: 300px;
}
.pm-form-ctn .pm-form-info{
	border-collapse: separate;
	border-spacing: 0 10px;
	display: table;
	width: 100%;
}
.pm-form-ctn .pm-form-info .pm-form-info-row{
	display: table-row;
}
.pm-form-ctn .pm-form-info .pm-form-info-row div{
	display: table-cell;
}
.pm-form-ctn .pm-form-info .pm-form-info-row div input{
	margin: 0;
}
.pm-form-ctn .pm-form-info .pm-form-info-key{
	padding-right: 1%;
	width: 29%;
}
.pm-form-ctn .pm-form-info .pm-form-info-value{
	padding-right: 1%;
	width: 65%;
}
.pm-form-ctn .pm-form-info .pm-form-info-delete{
	text-align: center;
	width: 4%;
	vertical-align: middle;
}
.pm-form-ctn .pm-form-info .pm-form-info-delete img{
	height: 15px;
	width: 15px;
}

/*** Portfolios Index ***/
ul.pm-index-header{
	display: table;
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
	margin: 10px 0;
	width: 100%;
}
ul.pm-index-header li {
	display: table-cell;
	font-size: 12px;
	padding: 0 10px;
	text-align: center;
}
ul.pm-index-header .pm-index-header-order{
	width: 10%;
}
ul.pm-index-header .pm-index-header-item {
	padding: 0 20px;
	text-align: left;
	width: 80%;
}
ul.pm-index-header .pm-index-header-delete {
	width: 10%;
}
.pm-index-body{
	border-collapse: separate;
	border-spacing: 0 10px;
	display: table;
	width: 100%;
}
.pm-index-body .pm-index-item{
	display: table-row;
}
.pm-index-body a.pm-index-item-body{
	background: white;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
	/* W3C */
	background-color: #F0F0F0;
	border: 1px solid #FFF;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #000;
	display: table-cell;
	font-size: 14px;
	height: 100px;
	margin: 0;
	text-decoration: none;
	width: 80%;
}
.pm-index-body a.pm-index-item-body:hover{
	background: none;
	background-color: #DDD;
	border: 1px solid #AAA;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.pm-index-body a.pm-index-item-body ul {
	display: table;
	height: 100px;
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.pm-index-body a.pm-index-item-body ul li{
	display: table-cell;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
}
.pm-index-body a.pm-index-item-body ul li img {
	border: 1px solid #333;
	-webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
	margin: 10px 0;
	max-height: 80px;
	max-width: 80px;
}
.pm-index-body a.pm-index-item-body ul .pm-index-title{
	font-size: 18px;
	padding: 0 40px;
	text-align: left;
	width: 65%;
}
.pm-index-body a.pm-index-item-body ul .pm-index-update{
	font-size: 12px;
	font-weight: bold;
	width: 15%;
}
.pm-index-body a.pm-index-item-body ul .pm-index-thumb{
	width: 20%;
}
.pm-index-body .pm-index-order{
	display: table-cell;
	width: 10%;
	vertical-align: middle;
}
.pm-index-body .pm-index-order input{
	display: block;
	font-size: 14px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
	width: 25px;
}
.pm-index-body .pm-index-delete{
	display: table-cell;
	width: 10%;
	vertical-align: middle;
}
.pm-index-body .pm-index-delete img{
	border: none;
	display: block;
	height: 20px;
	margin: 0 auto;
	width: 20px;
}

/*** Portfolios List ***/
ul.pm-portfolios{
	display: table;
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
ul.pm-portfolios li{
	display: table-cell;
	text-align: center;
	width: 20%;
}
ul.pm-portfolios img{
	display: block;
	margin: 0 auto 10px auto;
	max-width: 150px;
}
ul.pm-portfolios a{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
ul.pm-portfolios a:hover{
	color: #666;
}

/*** Login Form ***/
.pm-sign-in{
	background: white;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
	/* W3C */
	background-color: #F0F0F0;
	border: 1px solid #FFF;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #000;
	font-size: 14px;
	margin: 100px auto 200px auto;
	padding: 30px 40px 30px 40px;
	text-decoration: none;
	width: 450px;
}
.pm-sign-in p{
	font-weight: bold;
	margin: 0 0 30px 0;
	text-align: center;
}
.pm-sign-in .pm-text-field{
	margin: 0 0 15px 0;
}
.pm-sign-in .pm-text-field label{
	display: inline-block;
	padding: 0 10px 0 0;
	line-height: 25px;
	text-align: right;
	width: 20%;
}
.pm-sign-in .pm-text-field input{
	border: 1px solid #999;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	width: 75%;
}
.pm-sign-in .pm-remember-me{
	margin: 40px 0 0 0;
	padding: 0 20px 0 0;
	position: relative;
	text-align: right;
}
.pm-sign-in .pm-remember-me input{
	margin: 0 10px 0 0;
	position: relative;
	top: 1px;
}
.pm-sign-in .pm-sign-in-button{
	padding: 30px 15px 0 0;
	text-align: right;
}

/*** Flash Messages ***/
.pm-error{
	background: #ffeeee url(../img/error-icon.png) 20px center no-repeat;
	border: 1px solid #A00;
	color: #D00;
	float: left;
	margin: 10px 20px 20px 20px;
	padding: 10px 50px 10px 75px; }
	.pm-error .pm-error-title{
	font-size: 15px;
	font-style: Verdana;
	font-weight: bold;
	margin: 0 0 10px 0; }
	.pm-error ul{
	font-size: 12px;
	line-height: 18px;
	list-style-position: inside;
	list-style-type: square;
	margin: 0;
	padding: 0;
}
.pm-error-sign-in{
	float: none;
	margin: 10px auto 20px auto;
	position: absolute;
	top: 10px;
	left: 255px;
	width: 450px;
}
.pm-success{
	background: #eeffee url(../img/success-icon.png) 20px center no-repeat;
	border: 1px solid #0A0;
	color: #0A0;
	float: left;
	font-size: 15px;
	font-style: Verdana;
	font-weight: bold;
	margin: 10px 20px 20px 20px;
	padding: 10px 50px 10px 75px;
}
.pm-user-info{
	float: right;
	font-size: 13px;
	line-height: 23px;
	margin: 15px 0;
}
.pm-user-info a{
	color: #000;
}
.pm-user-info a:hover{
	text-decoration: none;
}


/*** Buttons ***/
.pm-btn{
	background: #464944;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzQ2NDk0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNiM2QzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzBhMGUwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTA4MDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #464944 1%, #3b3d38 50%, #0a0e0a 51%, #0a0809 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #464944), color-stop(50%, #3b3d38), color-stop(51%, #0a0e0a), color-stop(100%, #0a0809));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #464944 1%, #3b3d38 50%, #0a0e0a 51%, #0a0809 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #464944 1%, #3b3d38 50%, #0a0e0a 51%, #0a0809 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #464944 1%, #3b3d38 50%, #0a0e0a 51%, #0a0809 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #464944 1%, #3b3d38 50%, #0a0e0a 51%, #0a0809 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464944', endColorstr='#0a0809',GradientType=0 );
	/* IE6-8 */
	background-color: #000;
	border: 1px solid #000;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 2px;
	padding: 6px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #000;
	filter: dropshadow(color=black, offx=1, offy=1);
}
.pm-btn:hover{
	background: #0a0809;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMDgwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzBhMGUwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNiM2QzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzQ2NDk0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #0a0809 0%, #0a0e0a 49%, #3b3d38 50%, #464944 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a0809), color-stop(49%, #0a0e0a), color-stop(50%, #3b3d38), color-stop(99%, #464944));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0a0809 0%, #0a0e0a 49%, #3b3d38 50%, #464944 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0a0809 0%, #0a0e0a 49%, #3b3d38 50%, #464944 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0a0809 0%, #0a0e0a 49%, #3b3d38 50%, #464944 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #0a0809 0%, #0a0e0a 49%, #3b3d38 50%, #464944 99%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0809', endColorstr='#464944',GradientType=0 );
	/* IE6-8 */
	background-color: #666;
	-webkit-box-shadow: none;
	box-shadow: none;
}